.item-cart{
 border:2px solid #070f66;
  display: flex;
  justify-content: space-between;
  height: 20%;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  
}
.item-cart-img{
  height: 100px!important;
  width: 100px;
}
.cart-img{
  height: 100%;
  width: 100%;
  border-radius: 20%;

}
.item-info{
  padding-top:3vh ;
 
}
.item-info-name{
  padding-bottom: 15px;
  border-bottom: 1px solid #070f66;
}
.item-info-price{
  padding-top:15px;
}
.item-footer{
  padding-top:4vh ;
  display: flex;
  justify-content: space-between;
}
.item-buy{
  padding-right: 10px;
}
#alert-dialog-title{
  width: 300px!important;
}
.payment-card{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.item-cart-payment-img{
 width: 100px;
 height: 100px;


}
.cart-payment-img{
  text-align: center;
  align-items: center;
  margin: auto;
  height: 100px;
  width: 100px;
}
.payment-method{
  padding-top: 20px;
  border-top: 1px solid #070f66;
}
.payment-option{
  display: flex;
  justify-content:flex-start;
}
#eth-img{
  width: 20px;
  height: 20px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}