video {
  object-fit: cover;
  width: 100%;
  height: 110%;
  position: fixed;
  z-index: -1;
}
.app-home-banner-button{
  padding: 15px 20px 15px 20px!important;
  font-size: 20px!important;
  color:rgb(20, 6, 68)!important;
  background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);
  /* font-weight: bold!important; */
  border-radius: 20px!important;
  /* background-color: rgb(26, 59, 131)!important ; */
  
}
.app-home-banner-button:hover{
  
  background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(76, 107, 209) 86.8%);
  
  
}
.app-home-item-button-add:hover{
  background-color: rgb(99, 187, 241)!important;


}
.app-home-item-button-buy:hover{
  background-color: rgb(99, 187, 241)!important;


}
.hero-container {
  background-image: url('https://store-images.s-microsoft.com/image/apps.19703.9007199266246365.73e47f2a-59d9-4ab9-a337-947a9821644b.42888798-183a-4256-84f6-5c10020990b3');
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  font-family: "Martian Mono", "Roboto Mono", monospace!important;
    font-weight: 500;
    vertical-align: inherit;
}

.hero-container>h1 {
  color: #fff;
  padding-top: 40px;
  font-size: 60px;
  margin-top: -100px;
  font-family: "Martian Mono", "Roboto Mono", monospace!important;
    font-weight: 500;
    vertical-align: inherit;
}

.hero-container>h3 {
  margin-top: 8px;
  color: #fff;
  font-size: 25px;
  font-family: "Martian Mono", "Roboto Mono", monospace!important;
    font-weight: 500;
    vertical-align: inherit;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container>h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container>h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container>h3 {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }


}
#alert-dialog-title{
  text-align: center;
  color: rgb(20, 6, 68);
  font-weight: bold;
}
.account-category {
  text-align: center;
  margin: auto;
 

}

#img-category {
  border-radius: 50%;
  width: 100%;
  height: 10%;
 
  text-align: center;

}

.name-category {
  text-align: center;
  font-size: 16px;
}
#alert-dialog-content{
  padding-left: 30px;
  padding-right: 30px;
}
#alert{
  border-radius: 20px;
  margin:20px
}
#input_text{
  border-radius: 10px!important;

}
#input_text:active{
  border: none;
}
#input_text:focus{
  border: none!important;
  border-radius: 10px!important;
}
.app-home-martket-pagi{
  align-items: center;
  text-align: center;
  margin:auto;
  width: 30%;
}
.app-home-item-button{
  display: flex;
  justify-content: space-between;
}
.app-home-item-button-buy{
  background-color:white!important;
  margin: auto;
  color:  rgb(20, 6, 68)!important;
 
}
.app-home-item-button-add{
  background-color:white!important;
  margin: auto;
  color:  rgb(20, 6, 68)!important;
 
}

Button:focus{
  outline: none !important;
}
.app-banner-form-input{
border-radius: 10px;
border: none!important;
border: 1px solid #8d8a8adc !important;
width: 30%;
margin-left:10px
}
.app-banner-form-input:focus{
 
  border: 1px solid #8d8a8adc !important;
 
  }
  .app-banner-form-input:active{
 
     border: 1px solid #8d8a8adc !important;
    
     }
#alert-dialog-description{
color: #22088e;

padding: 10px;
padding-top: 20px;
font-size: 18px;
}
#alert-dialog-title{
  align-items: center;
  text-align: center;

}
/* Button:hover{
  background-color: rgb(242, 37, 78)!important;
} */
Card{
  border-radius: 20px!important;
}


#input_text:focus{
  border: 3px solid white!important;


}
.price{
  display: flex;
  justify-content: space-between;
}
.card-product{
  color:white;
  border-radius: 20px;
  width: 240px;

  /* width: 250px;
  height: 200px; */
  /* background-image: url("https://i.pinimg.com/236x/79/7b/57/797b571b4f1631fd6e28428cb37dd1d9.jpg")!important; */
  background-color:rgb(28, 14, 71);
  border: 1px solid #22088e;
  padding: 10px;
}
.card-buy{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 30px;
 
}
.card-body{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card-header{
  padding: 10px;
  border-radius: 5px;
  display: flex;
}
.time-left{
  margin-left: -80px;
  color: rgb(20, 6, 68);
  background-color:white;
  height: 20%;
  width: 70px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px!important;

}
#card-img{
  border-radius: 20px;
}
.card-name{
  font-size: 18px;
 
}
.app-market-list{
  /* background-color:#fff; */
  padding: 20px;
  border-radius: 20px;
  padding-bottom: 100px;
}
#mint_NFT_form{
  /* width: 370px;
  height: 500px; */
  width: 400px;;
  /* background-image: url("https://i.pinimg.com/564x/f2/c2/26/f2c2264295b80dc615caa87eaf4649ea.jpg"); */
  background-color: white;
 
  border-radius: 20px;
}
.alert-img{
 text-align: center;
}
.alert-mintNFT-img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding-bottom: 20px;
 
  
}
.alert-close{
 text-align: end;
 padding-right: 20px;
 margin-bottom: 20px;
 font-weight: bold!important;
 color:#22088e!important;

}
.alert-title{
 font-weight: bold;
 color:#22088e;
}
.alert-close-button{
  font-weight: bold!important;
 color:#22088e!important;
 background-color: white;
}
.alert-close-button:hover{
  font-weight: bold!important;
 color:white!important;
 background-color: rgb(20, 6, 68)!important;
}
.alert-account{
  background-image: url("https://i.pinimg.com/564x/ba/7f/e9/ba7fe90020a27e690f585f27057affe5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.alert-buyNFT{
  background-image: url("https://i.pinimg.com/564x/93/ac/7c/93ac7c58db6e7eb4808afc00fa4d6753.jpg");
}
.account-button:hover{
  margin-right: 30px!important;
  margin-bottom: 20px!important;
  color:white!important;
  background: linear-gradient(181.2deg, rgb(50, 44, 164) 10.5%, rgb(72, 107, 221) 86.8%);
}
.account-button{
  margin-right: 30px!important;
  margin-bottom: 20px!important;
  
}
.loading-market{
  padding-top: 50px;
  margin: auto;
}
.col-12 h1{
  padding-top: 50px;
  padding-bottom: 30px;
  color: rgb(20, 6, 68)!important;
}
