.p-right-tab{
    padding-right: 0.25rem;
}

.p-left-tab{
    padding-left: 0.25rem;
}
.justify-mobile-pagetitle{
    justify-content: flex-end;
}
.bg-no-arrow{
    background: none !important;
    background-color: white;
    color: white !important;
    border: none !important;
    cursor: pointer;
    padding-right: 1.3rem !important;
    position: relative !important;
}
.bg-no-arrow ::before{
    content: 'v';
    position: absolute;
    left: 0px;
}
.icon-date-picker{
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-no-arrow option{
    color: black !important;
}
.custom-select-year{
    width: 90px !important;
}