.borderEditor{
   border: 1px solid #d1d2db;
   border-radius: 5px;
}
.borderEditorRead{
    border: 1px solid #d1d2db;
    border-radius: 5px;
    background-color: #eeeff8;
}
.borderBlack{
    border-color: black !important;
}