

.app-user-img {
    height: 30%;
    width: 100%;
}

.app-user-bg-img {
    height: 90%;
    width: 100%;
    background-color: rgb(190, 184, 184);
    overflow: hidden;

    #bg-img {
        height: 90vh;
        width: 100%;
        margin-top: -23rem;
    }
}

.app-user-avt-img {

    position: absolute;
    border-radius: 50%;
    transform: translateX(50%);
    background-color: white;
    top: 25%;
    left: 0%;

    #avt-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.app-user-infor {
    display: flex;
    background-color: white;
    height: 80px;
    width: 100%;
    #eth-img {
        width: 50px;
        height: 50px;
    }

    margin-top: 5%;
    padding-left: 10%;
    font-family: "Martian Mono", "Roboto Mono", monospace!important;
    font-weight: 500;
    vertical-align: inherit;


}

.inf-address {
    /* padding-top: 15px; */
    color:#1F1D86 !important;
    font-family: "Martian Mono", "Roboto Mono", monospace!important;
    font-weight: 500;
    vertical-align: inherit;
    
}

.app-user-function {
    font-family: "Martian Mono", "Roboto Mono", monospace!important;
    /* background-color: whitesmoke; */
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}

Tab:focus {
    outline: none !important;
}

Tab {
    color: #1F1D86 !important;

}
.bloc-tabs{
    display: flex;
    justify-content: start;
    color:#1F1D86 !important;
    border-bottom:1px solid rgb(208, 208, 233) ;
    font-size: 22px !important;
   
}
.active-content{
    display: block;
    
}
.content{
    display: none;
  
  
}
.tabs{
    margin-right: 40px;
}
.content-tabs{
   /* : #f7f5f5f0; background-color */
    padding-top: 50px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
 
   
}
.active-tabs{
    
    border-bottom: 2px solid #1F1D86 !important;
   margin-right:40px

}
.active-content:before{
    content:"";
    display: block;
    position: absolute;
    top:-5px;
    left:50%;
    transform: translateX(-50%);
   



}
.app-user-function{
 width: 80%;
 margin: auto;
}
.row-name{
    font-weight: bold!important;
    color:#1F1D86!important;
    font-size: 18px!important;
}
.content-tabs{
    height: 100%;
    padding-bottom: 50px;

}


