.bloc-tabs{
    display: flex;
    justify-content: space-evenly;
    color:#DC3546;
    font-weight: bold;
   
}
.active-content{
    display: block;
}
.content{
    display: none;
  
  
}
.content-tabs{
    background-color: #f7f5f5f0;
    padding-top: 50px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
}
.active-tabs{
    
    border-bottom: 2px solid #DC3546;

}
.active-content:before{
    content:"";
    display: block;
    position: absolute;
    top:-5px;
    left:50%;
    transform: translateX(-50%);
   



}
.app-user-function{
 width: 80%;
 margin: auto;
}


