// Sidebar menu light color scheme
.app-sidebar {
  &--light {
    .sidebar-navigation {
      .sidebar-menu-box {
        background: rgba($primary, 0.03);
      }
      .sidebar-header {
        color: rgba($black, 0.85);
      }
      ul {
        li {
          & > a {
            color: #625f6e;
            border-radius: 4px;
            .sidebar-icon {
              & > * {
                color: #625f6e;
                opacity: 0.8;
                path {
                  fill: #625f6e;
                }
              }
            }
            .sidebar-icon-indicator {
              opacity: 0.4;
            }
          }

          ul {
            li {
              a {
                &::after {
                  background: rgba($black, .08);
                  height: 10px;
                  width: 10px;
                  content: "";
                  position: absolute;
                  left: 10px;
                }

                &:hover,
                &.active {
                  &::after {
                   background: white;
                  }
                }
              }
            }
          }
        }

        li > a:hover,
        li > a.active {
          color: $white;
          opacity: 1;
          box-shadow: 0 0.25rem 0.55rem rgb(30 138 249 / 35%);
          background-color: #1E8AF9 !important;
          background: #1E8AF9 !important ;
          
          &:after {
            // content: "";
            // position: absolute;
            // height: 30px;
            // background-color: $white;
            // width: 3px;
            // border-radius: 3px;
            // left: 0px;
          }

          .sidebar-icon-indicator {
            opacity: 1;
            fill: $white;
          }
          .sidebar-icon {
            & > * {
              opacity: 1;
              color: $white;
              path {
                fill: $white;
              }
            }
          }
        }

        li > a.wrap-collapse:hover,
        li > a.is-active {
          color: #565360;
          background: whitesmoke !important;
          box-shadow: none;
          // box-shadow: 0 0 10px 1px rgb(84 184 98 / 70%);
          border-radius: 6px;
          &:after {
            display: none;
          }
          .sidebar-icon-indicator {
            opacity: 0.7;
          }

          .sidebar-icon {
            & > * {
              opacity: 1;
              path {
                fill: #565360;
              }
            }
          }
        }
      }
    }
  }
}

.app-sidebar-collapsed {
  .app-sidebar--light:not(:hover) {
    .app-sidebar--content {
      .sidebar-navigation {
        .sidebar-header {
          &::after {
            background: rgba($black, 0.15);
          }
        }
      }
    }
  }
}
