// Sidebar light

.app-sidebar {
  &--light {
    .app-sidebar--header {
      background: transparent;

      .collapse-sidebar-btn {
        // background: $success-neutral;
        color: $info;
        opacity: 1;

        &:hover {
          background: $info;
          color: $white;
        }
      }
      .expand-sidebar-btn {
        border: $info solid 2px;
        background: $info;
        color: $white;
        box-shadow: $box-shadow-sm;
      }
      &::after {
        background: rgba($black, .08);
        //background: rgba($white, .47);
        width: 80% !important;
        margin-left: 10% ;
      }
    }

    // Logo wrapper

    .app-sidebar-logo {
      &--icon {
        background: $white;
        box-shadow: 1px 1px 3px rgba($black, .2);
      }

      &--text {
        span {
          //color: $primary;
          font-family: "Muli" !important;
          color: $black;
          opacity: .7;
        }

        b {
          font-family: "Muli" !important;
          color: $black;
        }
      }

      &:hover {
        color: $black;
      }
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background: $primary !important;
    }
  }
}
