body {
  margin: 0px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Màu nền mờ */
  z-index: 999; /* Đảm bảo backdrop hiển thị trên tất cả các thành phần khác */
  display: flex;
  justify-content: center;
  align-items: center;
}